*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding: 0px;
}

body {
        background-color: #ebebeb;        
}
    h3{
        font-size: 24px;
    }
    
    header{
        background-color: #EAC926;    
    }

    div.contenedorLogo-cuotas-buscador{
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
        
        
    }
    div.logoML img{
        width: 200px;
        
    }
    div.buscador{
        display: flex;
        
        
    }

    
    header div.logoML, header div.buscador{
        padding: 2px;        
    }

    header nav{
       margin-left: 20px;
       margin-right: 20px;
       display: none;
       padding: 10px;
        
    }

    header ul li{
        list-style: none;
    }

    header ul li a{
        text-decoration: none;
        color: #000;
        display: inline-block;
        
    }

    header .buscador .text{
        background-color: #FFF;
        border: 1px solid #000;
        outline: none;
        color: #666;
        padding: 2px;
    }

    header .buscador .submit{
        background-color: #FFF;
        border: 1px solid #000;
        color: #666;
        width: 10%;
    }

    div.burger-menu{
        text-align: center;
        
    }

    .burger-menu i{
        background-color: #0044AA;
        border-radius: 5px;
        color: #FFF;
        font-size: 20px;
        height: 40px;
        margin: 10px 0px 20px 0px;
        padding: 10px;
        width: 40px;
    }

.ultima-visita, .ofertas{
    display: flex;
    flex-wrap: wrap;
    }

    .precio{
        font-size: 18px;
        width: 30%;
    }

    .descuentos{
        color: #39b54a;
    }

    .descuento, .descripcion{
        font-size: 16px;
        font-weight: normal;
    }

    h3, .descripcion{
        color: #666;
    }

    .descripcion{
        display: none;
        margin-top: 20px;
    }

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: white;
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i, .descuento{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;

}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer{
    background-color: white;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #666;
    padding: 10px;
    font-size: 12px;
}
    footer h3{
        font-size: 20px;
    }

.logo{
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
}

@media (min-width: 361px){
    main section article .descripcion{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section div.tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.tarjetas article{
       width: 45%;
    }
    .precio, .descuento{
        width: 50%;
    }
    .buscador{
        margin: left;

    }

}




@media (min-width: 769px){
    div.burger-menu{
        display: none;
    }
    
    main section div.tarjetas article{
        width: 22%;
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        
    }
        nav ul{
            display: flex;    
            font-size: 16px;        

        }
        nav li{
            margin: 0 8px;
            
        }

    
        div.contenedorLogo-cuotas-buscador{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
        } 

        div.contenedorLogo-cuotas-buscador #cuotas{
            text-align: right;
        }
        
        div.buscador{
            display: flex;
            width: 40%;
            height: 40px;
            margin: auto;
                       
        }
        div.logoML{
            margin-right: 12px;
        }

        div.buscador input[type=text]{
        flex: 5 1 auto;
        }
    footer{
        font-size: 15px;
    }

}

@media (min-width: 1200px){
    .logoML{
        width: 250px;
    }
    
    .contenedorLogo-cuotas-buscador, .buscador, nav{
        max-width: 1200px;
        margin: auto;
    }
    
    nav ul{
        font-size: 18px;
    }

    div.buscador{
        display: flex;
        width: 40%;
        height: 40px;
        margin: auto;
    }    
    
    footer{
        font-size: 20px;
    }

   

}





    

    
